/*nav{
  padding-left:250px;
}*/
.inline{
  display: inline;
}
form, .input-field label{
  color:inherit;
}
#logo{
  font-size:2em;
}
#search{
  height:40px;
  line-height:40px;
  font-size:1.5em;
  max-width:100%;
  margin:0;
}
#search-icon{
  line-height:40px;
  font-size:2em;
}
#nav-mobile{
  margin-top:55px;
}
main{
  padding: 0 10px 0 250px;
  margin-top:25px;
}
.inv-click{
  cursor: pointer;
}
.option-link{
  padding:6px;
}
.dropdown-setting-btn{
  position:relative;
}
.dropdown-content{
  right:0;
}
.make-visible{
  display:block;
  opacity:1;
}
.fullscreen-click:after{
  content:'';
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
  z-index:100;
}
.fade-out{
  opacity: 1;
  transition: opacity 0.5s;
}
.status-area{
  position:absolute;
  background-color:#EFEFEF;
  box-shadow: 1px 1px 1px 1px black;
}
/*.margin-bottom{
  margin-bottom:1rem;
}*/
/*MAX WIDTH 992*/
@media(max-width: 992px){
  main{
    padding: 0 10px;
  }
}
