/*nav{
  padding-left:250px;
}*/
.inline{
  display: inline;
}
form, .input-field label{
  color:inherit;
}
#logo{
  font-size:2em;
}
#search{
  height:40px;
  line-height:40px;
  font-size:1.5em;
  max-width:100%;
  margin:0;
}
#search-icon{
  line-height:40px;
  font-size:2em;
}
#nav-mobile{
  margin-top:64px;
}
main{
  padding: 0 10px 0 250px;
  margin-top:25px;
}
.inv-click{
  cursor: pointer;
}
.option-link{
  padding:6px;
}
/*.margin-bottom{
  margin-bottom:1rem;
}*/
/*MAX WIDTH 992*/
@media(max-width: 992px){
  main{
    padding: 0 10px;
  }
}
