.row
  .col.s12.l6
    h4 Welcome to the Inventory App!
    pre {{UC.users | json}}
  form.col.s12.l6.indigo.white-text(ng-submit="UC.registerUser()")
    .row
      .col.s12
        h3 Register Here
      .input-field.col.s6
        i.material-icons.prefix face
        input.validate(ng-model="UC.newUser.firstName" name="firstName-reg" type="text" required)
        label(for="firstName-reg") First Name
      .input-field.col.s6
        i.material-icons.prefix face
        input.validate(ng-model="UC.newUser.lastName" name="lastName-reg" type="text" required)
        label(for="lastName-reg") Last Name
      .input-field.col.s12
        i.material-icons.prefix account_circle
        input.validate(ng-model="UC.newUser.email" name="email-reg" type="email" required)
        label(for="email-reg") Email
      .input-field.col.s12
        i.material-icons.prefix lock
        input.validate(ng-model="UC.newUser.password" name="password-reg" type="password" required)
        label(for="password-reg") Password
      .input-field.col.s12
        i.material-icons.prefix loop
        input.validate(ng-model="UC.newUser.passwordRepeat" name="passwordRepeat-reg" type="password" required)
        label(for="passwordRepeat-reg") Repeat Password
      .col.s12
        button.btn.right(type="submit")
          i.material-icons.prefix thumb_up
          span  Register
