.row
  .col.s12
    .card.darken-1
      .card-content
        .card-title 
            a(ui-sref="List")
              i.material-icons keyboard_arrow_left
              span Back
          h2 {{TC.items[TC.singleId].title}}
        p.flow-text {{TC.items[TC.singleId].desc}}
