.row
  .col.s12
    .card.darken-1
      .card-content
        .card-title 
          a(ui-sref="List")
            i.material-icons keyboard_arrow_left
            span Back
          h3 Edit 
        .input-field
          label.active Title
          input(type="text" ng-model="items[singleId].title")
        .input-field
          label.active Description
          textarea.materialize-textarea(ng-model="items[singleId].desc")
