.row
  .col.s12.l8.offset-l2
    .card.darken-1
      .card-content
        .card-title 
          a(ui-sref="^.all")
            i.material-icons keyboard_arrow_left
            span Back
          h3 Edit {{TC.items[TC.singleId]._id}}
        form(ng-submit="TC.editItem(TC.singleId)")
          .row
            .input-field.col.s12
              i.material-icons.prefix book
              input.validate(ng-model="TC.items[TC.singleId].model" name="itemModel" type="text" required)
              label.active(for="itemModel") Model
            .input-field.col.s12
              i.material-icons.prefix contacts
              input.validate(ng-model="TC.items[TC.singleId].manufacturer" name="itemManufacturer" type="text" required)
              label.active(for="itemManufacturer") Manufacturer
            .input-field.col.s12
              i.material-icons.prefix description
              input.validate(ng-model="TC.items[TC.singleId].description" name="itemDesc" type="text" required)
              label.active(for="itemDesc") Description
            .input-field.col.s12
              i.material-icons.prefix dialpad
              input.validate(ng-model="TC.items[TC.singleId].quantity" name="itemQuantity" type="number" required)
              label.active(for="itemQuantity") Quantity
            .col.s12.margin-bottom
              button.btn.right(type="submit") Submit
